{% extends 'listings/base.html' %}
{%  load static %}
{% block content %}
<nav class="nav container">
    <a href="#" class="nav__logo">Julien Leblanc Traiteur</a>
  
    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          {% if user.is_authenticated %}
            <li class="nav__item">
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="nav__link active-link" style="color: red;"><i class="fa-solid fa-arrow-right-from-bracket"></i>
            </form>
                    <span class="nav__name">Logout</span>
          </button>
            </li>
            {% else %}
  
            <li class="nav__item">
              <a href="{% url 'login' %}" class="nav__link" style="color: green;"><i class="fa-regular fa-user"></i></i></a>
                    <span class="nav__name">Login</span>
                </a>
            </li>
            {% endif %}
            <li class="nav__item">
              <a type="button" class="nav__link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                <i class="fa-solid fa-link"></i><span class="nav__name">Liens</span>
              </a>
            </li>
            <li class="nav__item">
              <a  href="{% url 'acceuilresponsables' %}" class="nav__link"><i class="fa-solid fa-user-ninja"></i>
                <span class="nav__name">Retour</span>
              </a>
            </li>
        </ul>
    </div>
  
    <img src="{% static 'listings/julien-leblanc-continuumcommunication.jpg'  %}" alt="" class="nav__img">
  </nav>

<br>
<br>
<br>
<div class="align-center col-10 offset-1">
    <div class="d-flex justify-content-between align-items-center">
        <p class="lead ml-0">Ajouter une livraison</p>
        <form class="d-flex align-items-center">
            {% csrf_token %}
            <input type="text" name="filmname" class="form-control-sm mr-2" placeholder="AJouter une livraison" />
            <input type="text" name="date" class="form-control-sm mr-2" placeholder="AJouter une date" />
            <button type="submit" class="btn btn-success btn-sm" hx-post="{% url 'add-livraison' %}" hx-target='#livraison-listtoday'>AJouter</button>
        </form>
    </div>
    <hr/>
    
    <div id="livraison-listtoday">
      {% include 'listings/partials/livraisonslisttoday.html' %}
  </div>
    
</div>

<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })

    htmx.onLoad(function(content) {
        var sortables = content.querySelectorAll(".sortable");
        for (var i = 0; i < sortables.length; i++) {
            var sortable = sortables[i];
            new Sortable(sortable, {
                animation: 150,
                ghostClass: 'blue-background-class'
            });
        }
    })
</script>
{% endblock content %}