{% extends 'listings/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('.delete-btn').on('click', function(event){
            event.preventDefault();
            const button = $(this);
            const url = button.data('url');
            
            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.status === 'success') {
                        button.closest('li').remove();  // Remove the item from the DOM
                        alert(response.message);
                    } else {
                        alert(response.message);
                    }
                }
            });
        });
    });

    $(document).ready(function () {
    // For incrementing quantity
    $('.addAction').click(function () {
        var productId = $(this).data('product-id'); // Get the product ID
        var quantityInput = $('#quantity-' + productId); // Target the input field using the product ID
        var currentQuantity = parseInt(quantityInput.val());
        quantityInput.val(currentQuantity + 1);
    });

    // For decrementing quantity
    $('.subtractAction').click(function () {
        var productId = $(this).data('product-id'); // Get the product ID
        var quantityInput = $('#quantity-' + productId); // Target the input field using the product ID
        var currentQuantity = parseInt(quantityInput.val());
        if (currentQuantity > 1) {
            quantityInput.val(currentQuantity - 1);
        }
    });

    // Ensure the quantity is correct on form submit
    $('form').on('submit', function() {
        var quantityInput = $(this).find('.quantity'); // Find the quantity input in this form
        var quantity = parseInt(quantityInput.val());
        if (isNaN(quantity) || quantity <= 0) {
            alert('Please enter a valid quantity.'); // Optional: alert if quantity is invalid
            return false; // Prevent form submission
        }
    });
});





</script>

<style>
    .product-item {
        display: flex;
        align-items: center;
        margin-right: 15px; /* Space between each product item */
    }
    .btn-danger, .btn-success {
        font-size: 16px;
        padding: 5px 8px; /* Adjust button size for a more compact look */
        margin: 0 2px;
        cursor: pointer;
    }
    .quantity {
        width: 50px; /* Reduced width for the quantity input */
        height: 34px;
        text-align: center;
    }
    .modal-body {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; /* Space between rows if the content wraps */
    }
    .product-name {
        font-weight: bold;
        margin-right: 10px; /* Space between product name and buttons */
    }

    /* Styling for the plus and minus buttons */
    .custom-btn-plus, .custom-btn-minus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 50%; /* Make the button round */
        font-size: 18px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease; /* Smooth transition */
    }

    .custom-btn-minus {
        background-color: #ff4d4d; /* Red color for minus button */
    }

    .custom-btn-plus {
        background-color: #63E6BE; /* Green color for plus button */
    }

    .custom-btn-minus:hover {
        background-color: #ff1a1a; /* Darker shade on hover */
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Shadow effect */
    }

    .custom-btn-plus:hover {
        background-color: #46c498; /* Darker shade on hover */
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Shadow effect */
    }

    .custom-btn-minus:active, .custom-btn-plus:active {
        transform: scale(0.9); /* Slightly reduce size when clicked */
    }

    /* Submit button styling */
    .custom-submit-btn {
        background-color: #007bff; /* Bootstrap primary color */
        color: white;
        padding: 6px 12px; /* Padding for the submit button */
        margin-left: 10px; /* Space between the input and submit button */
        border: none;
        border-radius: 4px; /* Rounded corners */
        cursor: pointer;
        transition: background-color 0.3s; /* Smooth transition */
    }

    .custom-submit-btn:hover {
        background-color: #0056b3; /* Darker shade on hover */
    }
</style>



<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" >
                <li class="nav-item">
                    <a type="button" class="nav__link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-basket-shopping"></i><span>Mon panier</span></a>
                </li>
                <li class="nav-item">
                    <a  type="button" class="nav__link" data-bs-toggle="modal" data-bs-target="#exampleModals" style="margin-left: 20px;"><i class="fa-solid fa-pen-to-square"></i><span>Modifier</span></a>
                </li>
                <li class="nav-item">
                    <a  href="{% url 'creerchecklist' %}" class="nav__link" style="margin-left: 20px;"><i class="fa-solid fa-clipboard-list"></i><span>Retour</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container mt-5">
    <hr>
<h1>Checklist {{ checklist.name }}</h1>
<br>
<div style="display: flex;">
<div style="margin-right: 30px;">
<p><strong>Date événement:</strong> {{ checklist.date|date:"d/m/Y" }}</p>
<p><strong>Lieu événement:</strong> {{ checklist.lieu }}</p>
<p><strong>Nombre convives:</strong> {{ checklist.nb_convive }}</p>
</div>
<div style="margin-right: 30px;">
<p><strong>Heure de livraison:</strong> {{ checklist.heure_livraison }}</p>
<p><strong>Numéro de contrat:</strong> {{ checklist.num_contrat }}</p>
</div>
<div>
<p><strong>Conseiller(e):</strong> {{ checklist.conseillere }}</p>
<p><strong>Nom du MD:</strong> {{ checklist.md }}</p>
</div>
</div>

<hr>

<h2>Liste des objets disponibles par catégories</h2>
<hr>
<br>

<div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
    <a type="button" class="nav__link" data-bs-toggle="modal" data-bs-target="#exampleModal3">
        <span>ÉQUIPEMENT DE BASE</span></a>

    
   
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 20px;">
            JETABLE
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for product in products %}
            {% if product.category == jetable %}
            <li>
                <div class="card" style="width: 18rem; margin-bottom: 10px;">
                    <div class="card-body">
                        
                      <h5 class="card-title">{{ product.name }}</h5>
                      {% if product.quantity <= 0 %}
                      <h6 class="card-subtitle mb-2" style="color: red;">Quantité disponible: {{ product.quantity }}</h6>
                      {% else %}
                      <h6 class="card-subtitle mb-2" style="color: green;">Quantité disponible: {{ product.quantity }}</h6>
                      {% endif %}
                      <p class="card-text"><form action="{% url 'add_to_checklist' checklist.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <input type="hidden" name="product_name" value="{{ product.name }}">
                        <div class="form-group">
                            <label for="quantity">Quantité à ajouter ou enlever:</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                        </div>
                        <div class="form-group">
                            <label for="action">Ajouter ou Enlever:</label>
                            <select class="form-control" id="action" name="action">
                                <option value="add">Ajouter</option>
                                <option value="subtract">Enlever</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-success">valider</button>
                    </form></p>
                    </div>
                  </div>
            </li>
            {% endif %}
            {% endfor %}
    </div>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 20px;">
            ACCESSOIRES DE DÉCOR
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for product in products %}
                {% if product.category == accessoirededecor %}
                <li>
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            
                          <h5 class="card-title">{{ product.name }}</h5>
                          {% if product.quantity <= 0 %}
                          <h6 class="card-subtitle mb-2" style="color: red;">Quantité disponible: {{ product.quantity }}</h6>
                          {% else %}
                          <h6 class="card-subtitle mb-2" style="color: green;">Quantité disponible: {{ product.quantity }}</h6>
                          {% endif %}
                          <p class="card-text"><form action="{% url 'add_to_checklist' checklist.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="product_name" value="{{ product.name }}">
                            <div class="form-group">
                                <label for="quantity">Quantité à ajouter ou enlever:</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                            </div>
                            <div class="form-group">
                                <label for="action">Ajouter ou Enlever:</label>
                                <select class="form-control" id="action" name="action">
                                    <option value="add">Ajouter</option>
                                    <option value="subtract">Enlever</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-success">valider</button>
                        </form></p>
                        </div>
                      </div>
                </li>
                {% endif %}
                {% endfor %}
                
            </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 20px;">
            ÉQUIPEMENT DE BAR
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for product in products %}
            {% if product.category == equipementdebar %}
            <li>
                <div class="card" style="width: 18rem; margin-bottom: 10px;">
                    <div class="card-body">
                        
                      <h5 class="card-title">{{ product.name }}</h5>
                      {% if product.quantity <= 0 %}
                      <h6 class="card-subtitle mb-2" style="color: red;">Quantité disponible: {{ product.quantity }}</h6>
                      {% else %}
                      <h6 class="card-subtitle mb-2" style="color: green;">Quantité disponible: {{ product.quantity }}</h6>
                      {% endif %}
                      <p class="card-text"><form action="{% url 'add_to_checklist' checklist.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <input type="hidden" name="product_name" value="{{ product.name }}">
                        <div class="form-group">
                            <label for="quantity">Quantité à ajouter ou enlever:</label>
                            <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                        </div>
                        <div class="form-group">
                            <label for="action">Ajouter ou Enlever:</label>
                            <select class="form-control" id="action" name="action">
                                <option value="add">Ajouter</option>
                                <option value="subtract">Enlever</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-success">valider</button>
                    </form></p>
                    </div>
                  </div>
            </li>
            {% endif %}
            {% endfor %}
    </div>

    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 20px;">
        ÉQUIPEMENT POUR SERVICE CAFÉ
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for product in products %}
                {% if product.category == equipementpourservicecafe %}
                <li>
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            
                          <h5 class="card-title">{{ product.name }}</h5>
                          {% if product.quantity <= 0 %}
                          <h6 class="card-subtitle mb-2" style="color: red;">Quantité disponible: {{ product.quantity }}</h6>
                          {% else %}
                          <h6 class="card-subtitle mb-2" style="color: green;">Quantité disponible: {{ product.quantity }}</h6>
                          {% endif %}
                          <p class="card-text"><form action="{% url 'add_to_checklist' checklist.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="product_name" value="{{ product.name }}">
                            <div class="form-group">
                                <label for="quantity">Quantité à ajouter ou enlever:</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                            </div>
                            <div class="form-group">
                                <label for="action">Ajouter ou Enlever:</label>
                                <select class="form-control" id="action" name="action">
                                    <option value="add">Ajouter</option>
                                    <option value="subtract">Enlever</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-success">valider</button>
                        </form></p>
                        </div>
                      </div>
                </li>
                {% endif %}
                {% endfor %}
                
            </ul>
    </div>
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 20px;">
        ITEMS DIVERS
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for product in products %}
                {% if product.category == itemsdivers %}
                <li>
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            
                          <h5 class="card-title">{{ product.name }}</h5>
                          {% if product.quantity <= 0 %}
                          <h6 class="card-subtitle mb-2" style="color: red;">Quantité disponible: {{ product.quantity }}</h6>
                          {% else %}
                          <h6 class="card-subtitle mb-2" style="color: green;">Quantité disponible: {{ product.quantity }}</h6>
                          {% endif %}
                          <p class="card-text"><form action="{% url 'add_to_checklist' checklist.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="product_name" value="{{ product.name }}">
                            <div class="form-group">
                                <label for="quantity">Quantité à ajouter ou enlever:</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                            </div>
                            <div class="form-group">
                                <label for="action">Ajouter ou Enlever:</label>
                                <select class="form-control" id="action" name="action">
                                    <option value="add">Ajouter</option>
                                    <option value="subtract">Enlever</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-success">valider</button>
                        </form></p>
                        </div>
                      </div>
                </li>
                {% endif %}
                {% endfor %}
                
            </ul>
    </div>

    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 20px;">
        TABLE ET LINGE DE TABLE
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for product in products %}
                {% if product.category == tableetlinge %}
                <li>
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            
                          <h5 class="card-title">{{ product.name }}</h5>
                          {% if product.quantity <= 0 %}
                          <h6 class="card-subtitle mb-2" style="color: red;">Quantité disponible: {{ product.quantity }}</h6>
                          {% else %}
                          <h6 class="card-subtitle mb-2" style="color: green;">Quantité disponible: {{ product.quantity }}</h6>
                          {% endif %}
                          <p class="card-text"><form action="{% url 'add_to_checklist' checklist.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="product_name" value="{{ product.name }}">
                            <div class="form-group">
                                <label for="quantity">Quantité à ajouter ou enlever:</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                            </div>
                            <div class="form-group">
                                <label for="action">Ajouter ou Enlever:</label>
                                <select class="form-control" id="action" name="action">
                                    <option value="add">Ajouter</option>
                                    <option value="subtract">Enlever</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-success">valider</button>
                        </form></p>
                        </div>
                      </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
    </div>
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 20px;">
        VERRERIE
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for product in products %}
                {% if product.category == verrerie %}
                <li>
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            
                          <h5 class="card-title">{{ product.name }}</h5>
                          {% if product.quantity <= 0 %}
                          <h6 class="card-subtitle mb-2" style="color: red;">Quantité disponible: {{ product.quantity }}</h6>
                          {% else %}
                          <h6 class="card-subtitle mb-2" style="color: green;">Quantité disponible: {{ product.quantity }}</h6>
                          {% endif %}
                          <p class="card-text"><form action="{% url 'add_to_checklist' checklist.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="product_name" value="{{ product.name }}">
                            <div class="form-group">
                                <label for="quantity">Quantité à ajouter ou enlever:</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                            </div>
                            <div class="form-group">
                                <label for="action">Ajouter ou Enlever:</label>
                                <select class="form-control" id="action" name="action">
                                    <option value="add">Ajouter</option>
                                    <option value="subtract">Enlever</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-success">valider</button>
                        </form></p>
                        </div>
                      </div>
                </li>
                {% endif %}
                {% endfor %}
                
            </ul>
    </div>

    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 20px;">
        PORCELAINE ET COUTELLERIE
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for product in products %}
                {% if product.category == porcelaine %}
                <li>
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            
                          <h5 class="card-title">{{ product.name }}</h5>
                          {% if product.quantity <= 0 %}
                          <h6 class="card-subtitle mb-2" style="color: red;">Quantité disponible: {{ product.quantity }}</h6>
                          {% else %}
                          <h6 class="card-subtitle mb-2" style="color: green;">Quantité disponible: {{ product.quantity }}</h6>
                          {% endif %}
                          <p class="card-text"><form action="{% url 'add_to_checklist' checklist.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="product_name" value="{{ product.name }}">
                            <div class="form-group">
                                <label for="quantity">Quantité à ajouter ou enlever:</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                            </div>
                            <div class="form-group">
                                <label for="action">Ajouter ou Enlever:</label>
                                <select class="form-control" id="action" name="action">
                                    <option value="add">Ajouter</option>
                                    <option value="subtract">Enlever</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-success">valider</button>
                        </form></p>
                        </div>
                      </div>
                </li>
                {% endif %}
                {% endfor %}
                
            </ul>
    </div>
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 20px;">
        ÉQUIPEMENT POUR MONTAGE CANAPÉS
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for product in products %}
                {% if product.category == montage %}
                <li>
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            
                          <h5 class="card-title">{{ product.name }}</h5>
                          {% if product.quantity <= 0 %}
                          <h6 class="card-subtitle mb-2" style="color: red;">Quantité disponible: {{ product.quantity }}</h6>
                          {% else %}
                          <h6 class="card-subtitle mb-2" style="color: green;">Quantité disponible: {{ product.quantity }}</h6>
                          {% endif %}
                          <p class="card-text"><form action="{% url 'add_to_checklist' checklist.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="product_name" value="{{ product.name }}">
                            <div class="form-group">
                                <label for="quantity">Quantité à ajouter ou enlever:</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                            </div>
                            <div class="form-group">
                                <label for="action">Ajouter ou Enlever:</label>
                                <select class="form-control" id="action" name="action">
                                    <option value="add">Ajouter</option>
                                    <option value="subtract">Enlever</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-success">valider</button>
                        </form></p>
                        </div>
                      </div>
                </li>
                {% endif %}
                {% endfor %}
                
            </ul>
    </div>

    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 20px;">
        ÉQUIPEMENT DE CUISSON
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for product in products %}
                {% if product.category == cuisson %}
                <li>
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            
                          <h5 class="card-title">{{ product.name }}</h5>
                          {% if product.quantity <= 0 %}
                          <h6 class="card-subtitle mb-2" style="color: red;">Quantité disponible: {{ product.quantity }}</h6>
                          {% else %}
                          <h6 class="card-subtitle mb-2" style="color: green;">Quantité disponible: {{ product.quantity }}</h6>
                          {% endif %}
                          <p class="card-text"><form action="{% url 'add_to_checklist' checklist.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="product_name" value="{{ product.name }}">
                            <div class="form-group">
                                <label for="quantity">Quantité à ajouter ou enlever:</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                            </div>
                            <div class="form-group">
                                <label for="action">Ajouter ou Enlever:</label>
                                <select class="form-control" id="action" name="action">
                                    <option value="add">Ajouter</option>
                                    <option value="subtract">Enlever</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-success">valider</button>
                        </form></p>
                        </div>
                      </div>
                </li>
                {% endif %}
                {% endfor %}
                
            </ul>
    </div>
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom: 20px;">
        USTENSILES DE SERVICE
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for product in products %}
                {% if product.category == service %}
                <li>
                    <div class="card" style="width: 18rem; margin-bottom: 10px;">
                        <div class="card-body">
                            
                          <h5 class="card-title">{{ product.name }}</h5>
                          {% if product.quantity <= 0 %}
                          <h6 class="card-subtitle mb-2" style="color: red;">Quantité disponible: {{ product.quantity }}</h6>
                          {% else %}
                          <h6 class="card-subtitle mb-2" style="color: green;">Quantité disponible: {{ product.quantity }}</h6>
                          {% endif %}
                          <p class="card-text"><form action="{% url 'add_to_checklist' checklist.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="product_name" value="{{ product.name }}">
                            <div class="form-group">
                                <label for="quantity">Quantité à ajouter ou enlever:</label>
                                <input type="number" class="form-control" id="quantity" name="quantity" min="1" required>
                            </div>
                            <div class="form-group">
                                <label for="action">Ajouter ou Enlever:</label>
                                <select class="form-control" id="action" name="action">
                                    <option value="add">Ajouter</option>
                                    <option value="subtract">Enlever</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-outline-success">valider</button>
                        </form></p>
                        </div>
                      </div>
                </li>
                {% endif %}
                {% endfor %}
                
            </ul>
    </div>

</div>



  
  <!-- Modal -->
  <div class="modal fade modal-xlg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Objets dans la checklist</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
                {% for item in checklist_items %}
                {% if item.status == encours %}
                <li style="color: orange;">
                    {{ item.product.name }} - Quantité: {{ item.quantity }} - Statut: {{ item.status }}
                    <a href="#" class="delete-btn" data-url="{% url 'checklist-item-delete-ajax' item.pk %}"><i class="fa-solid fa-trash" style="color: #74C0FC;"></i></a>
                </li>
                {% elif item.status == valide %}
                <li style="color: green;">
                    {{ item.product.name }} - Quantité: {{ item.quantity }} - Statut: {{ item.status }}
                    <a href="#" class="delete-btn" data-url="{% url 'checklist-item-delete-ajax' item.pk %}"><i class="fa-solid fa-trash" style="color: #74C0FC;"></i></a>
                </li>
                {% elif item.status == refuse %}
                <li style="color: red;">
                    {{ item.product.name }} - Quantité: {{ item.quantity }} - Statut: {{ item.status }}
                    <a href="#" class="delete-btn" data-url="{% url 'checklist-item-delete-ajax' item.pk %}"><i class="fa-solid fa-trash" style="color: #74C0FC;"></i></a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-xlg" id="exampleModals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modifier Checklist</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="" method=POST >
                {% csrf_token %}
                {{ formbis.as_p }}
                <input type="submit" value="valider" class="btn btn-primary">
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade modal-xlg" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter les produits</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row gy-3">
                        {% for product in products %}
                            {% if product.category == equipementdebase %}
                                <div class="col-12 d-flex align-items-center justify-content-between product-item">
                                    <div class="product-info d-flex align-items-center">
                                        <h6 class="product-name mb-0 me-3">{{ product.name }} 
                                            {% if product.quantity <= 0 %}
                                                <strong style="color: red;">({{ product.quantity }})</strong>
                                            {% else %}
                                                <strong style="color: green;">({{ product.quantity }})</strong>
                                            {% endif %}
                                        </h6>
                                    </div>
                                    <form id="checklistForm-{{ product.id }}" action="{% url 'add_to_checklist' checklist.id %}" method="post" class="d-flex align-items-center product-form justify-content-end">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ product.id }}">
                                        <input type="hidden" name="product_name" value="{{ product.name }}">

                                        <div class="form-group d-flex align-items-center me-2">
                                            <div class="input-group">
                                                <button type="button" class="btn custom-btn-minus subtractAction" data-product-id="{{ product.id }}" title="Réduire la quantité">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                                <input type="number" class="form-control quantity text-center mx-1" id="quantity-{{ product.id }}" name="quantity" min="1" value="1" required style="width: 60px;">
                                                <button type="button" class="btn custom-btn-plus addAction" data-product-id="{{ product.id }}" title="Augmenter la quantité">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <button type="submit" name="action" value="add" class="btn custom-submit-btn d-flex align-items-center">
                                            <i class="fa-solid fa-cart-plus me-2"></i> Ajouter
                                        </button> <!-- Submit button -->
                                    </form>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>



  </div>

    

{% endblock %}

