{% extends 'listings/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}

<!-- ----------------------------- Styles ---------------------------------- -->
<style>
  body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
            display: flex;
            height: 100vh;
            overflow: hidden;
            transition: background-color 0.3s linear, color 0.3s linear;
        }

        .sidebar {
            width: 250px;
            background-color: #007BFF;
            height: 100%;
            padding: 20px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1);
            transition: transform 0.3s ease;
            overflow-y: auto;
        }

        .sidebar .sidebar-header {
            font-size: 24px;
            color: #fff;
            margin-bottom: 20px;
        }

        .sidebar a {
            color: #fff;
            display: block;
            padding: 10px;
            text-decoration: none;
            margin-bottom: 10px;
            border-radius: 8px;
            transition: background-color 0.3s;
        }

        .sidebar a.active, .sidebar a:hover {
            background-color: #0056b3;
        }

        .stats {
            flex: 1;
            padding: 20px;
            background-color: #F0F2F5;
            overflow-y: auto;
            transition: margin-left 0.3s ease; /* Improves smoothness of layout change */
        }


        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            
        }

        .header .toggle-theme {
            cursor: pointer;
            color: #007BFF;
        }
        #stats.expanded {
    margin-left: 0;
}

#stats.full-width {
    transition: margin-left 0s;
}

.collapsed {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    width: 0; /* Ensure width collapses at the end */
}

.dark-mode {
            background-color: #121212;
            color: #e4e4e4;
        }

        .dark-mode .header, .dark-mode .card {
            background-color: #1e1e1e;
            box-shadow: 0 2px 5px rgba(0,0,0,0.5);
        }

        .dark-mode .sidebar {
            background-color: #1e1e1e;
        }

        .dark-mode .sidebar a {
            color: #e4e4e4;
        }

        .dark-mode .sidebar a.active, .dark-mode .sidebar a:hover {
            background-color: #333;
            color: #fff;
        }
  h1 {
    text-align: center; color: #1176F5; margin-bottom: 30px;
    font-size: 2rem;
  }
  /* Section styles */
  .section {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  /* Filters styles */
  .filter-form {
    margin-bottom: 20px;
  }

  /* Checklist Filter Input */
  #searchInput {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }
  /* Table styling */
  .checklist-table {
    width: 100%;
    border-collapse: collapse;
  }
  .checklist-table thead {
    background-color: #1176F5;
    color: #fff;
  }
  .checklist-table th, .checklist-table td {
    padding: 12px;
    border: 1px solid #ccc;
  }
  tr:nth-child(odd) {
    background-color: #f8f9fa;
  }
  tr:hover {
    background-color: #e2e2e2;
  }
  /* Responsive if needed */
  @media(max-width: 768px){
    .stats-card {
      width: 100%;
    }
  }
</style>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

<div class="sidebar" id="sidebar">
  <div class="sidebar-header" style="margin-top: 100px;">Menu <button class="toggle-sidebar" id="sidebar-toggle"><i class="fas fa-bars"></i></button></div>
  <a href="{% url 'acceuilresponsables' %}"><i class="fa-solid fa-desktop"></i> Tableau de bord Admin</a>
  <a href="{% url 'responsablelist' %}"><i class="fas fa-home"></i> Suivi journée</a>
  <a href="{% url 'recuptoday' %}"><i class="fas fa-sync"></i> Récups</a>
  <a href="{% url 'livraisonstomorrow' %}"><i class="fas fa-shipping-fast"></i> Dispatch</a>
  <a href="{% url 'voir_checklist' %}"><i class="fas fa-clipboard-list"></i> Checklist</a>
  <a href="{% url 'creerchecklist' %}"><i class="fas fa-list-check"></i> Checklist Ventes</a>
  <a href="{% url 'product_list' %}"><i class="fas fa-box-open"></i> Liste produits (checklist)</a>
  <a href="admin/" target="_blank"><i class="fas fa-tools"></i> Menu admin</a>
  <button class="toggle-theme" id="theme-toggle" style="margin-top:20px;"><i class="fas fa-moon"></i> Thème</button>
  <div style="margin-top:20px; font-size:14px; color:#ccc;">Utilisateur: {{ user.username }}</div>
</div>


<!-- -------------------------- Main Content ------------------------------ -->
<div class="stats" id="stats">
    <div class="header">
        <h2>Statistiques</h2>
            <button id="show-sidebar" style="display:none; position: fixed; top: 12%; left: 10px;">
                <i class="fas fa-bars fa-2xl"></i>
            </button>
        <div class="user-info">
            <button id="logoutBtn" style="border:none; background:none; cursor:pointer;"><i class="fas fa-sign-out-alt"></i> Déconnexion</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

            <form method="get">
                <div class="card stats-card">
                    <div class="card-body">
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-50">Afficher les statistiques</button>
                    </div>
                </div>
            </form>


    {% if stats.total_no_recup is not None %}

            <div class="card stats-card">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Total livraisons
                                    <span class="badge bg-primary rounded-pill">{{ stats.total_no_recup }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Total Récupérations
                                    <span class="badge bg-primary rounded-pill">{{ stats.livraisons_recup }}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Livraisons avec checklist
                                    <span class="badge bg-primary rounded-pill">{{ stats.livraisons_with_checklist }}</span>
                                </li>
                                
                                
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    % Livraison Valide
                                    <span class="badge bg-primary rounded-pill">{{ stats.valide_pct|floatformat:2 }}%</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    % Livraisons avec checklist
                                    <span class="badge bg-primary rounded-pill">{{ stats.livraisons_with_checklist_pct|floatformat:2 }}%</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    % Nom client signature
                                    <span class="badge bg-primary rounded-pill">{{ stats.nom_client_signature_pct|floatformat:2 }}%</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    % Signature
                                    <span class="badge bg-primary rounded-pill">{{ stats.signature_pct|floatformat:2 }}%</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    % Photos
                                    <span class="badge bg-primary rounded-pill">{{ stats.pourcentage_photo|floatformat:2 }}%</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    % Véhicule avec photo
                                    <span class="badge bg-primary rounded-pill">{{ percentage_with_vehicle_photo|floatformat:2 }}%</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    % Véhicule
                                    <span class="badge bg-primary rounded-pill">{{ percentage_with_vehicle|floatformat:2 }}%</span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

    </div>
    {% endif %}
  
  </div>
  
  <!-- ------------------------------ Scripts --------------------------------- -->
  <script>
    // Fonction de filtrage du tableau checklist
    function filterTable() {
      const input = document.getElementById('searchInput');
      const filter = input.value.toLowerCase();
      const table = document.getElementById('checklistTable');
      const rows = table.getElementsByTagName('tr');
  
      for (let i = 1; i < rows.length; i++) {
        const cells = rows[i].getElementsByTagName('td');
        let match = false;
        for (let j = 0; j < cells.length; j++) {
          if (cells[j].textContent.toLowerCase().indexOf(filter) > -1) {
            match = true;
            break;
          }
        }
        rows[i].style.display
        = match ? '' : 'none';
    }
  }

  const toggleBtn = document.getElementById('theme-toggle');
        toggleBtn.addEventListener('click', () => {
            document.body.classList.toggle('dark-mode');
        });

          document.addEventListener('DOMContentLoaded', () => {
    const sidebar = document.getElementById('sidebar');
    const btnShowSidebar = document.getElementById('show-sidebar');
    const toggleBtn = document.getElementById('sidebar-toggle');
    const dashboard = document.getElementById('dashboard');

    // Quand on clique sur le bouton toggle pour cacher ou réafficher
    toggleBtn.addEventListener('click', () => {
        if (sidebar.classList.contains('collapsed')) {
            // La sidebar est masquée, on la remonte
            sidebar.classList.remove('collapsed');
            btnShowSidebar.style.display = 'none';   // cache le bouton
            dashboard.classList.remove('full-width');
        } else {
            // La sidebar est visible, on la cache
            sidebar.classList.add('collapsed');
            btnShowSidebar.style.display = 'block';  // montre le bouton pour la réafficher
            dashboard.classList.add('full-width');
        }
    });

    // Quand on clique sur le bouton pour faire réapparaître la sidebar
    btnShowSidebar.addEventListener('click', () => {
        sidebar.classList.remove('collapsed');
        btnShowSidebar.style.display = 'none'; // cache le bouton
        dashboard.classList.remove('full-width');
    });
});
</script>

{% endblock %}
