{% extends 'listings/base.html' %}

{% block content %}


<div style="text-align: center;">
    <h2>Salut {{ livreur.nom }}</h2>
    <br>
</div>
<br>

  <h2 style="text-align: center;" id="listlivraisons"></h2>
  <br>
  

        
                

     
       

<br>
<br>
<br>
    
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid justify-content-center">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">
                {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn navbar-brand" style="color: red;"><i class="fa-solid fa-arrow-right-from-bracket"></i></i></button>
          </form>
          
          {% else %}
          <a href="{% url 'login' %}" class="btn navbar-brand" ><i class="fa-regular fa-user"></i></i></a>
          {% endif %}
        </li>
     <li class="list-group-item">
        <button type="button" class="btn navbar-brand" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-link"></i>
        </button>
      </li>
      <li class="list-group-item">
        <button onclick="history.go(-1);" class="btn navbar-brand"><i class="fa-regular fa-paste"></i></button>
      </li>
      <li class="list-group-item">
        <a href="{% url 'journees-list'  %}" class="btn navbar-brand" ><i class="fa-regular fa-calendar-days"></i></a>
      </li>
    </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Liens Formulaires</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><a class="btn btn-primary" href="https://discord.com/channels/1174091428876533800/1194755233935523952" target="_blank">Photo livraison <i class="fa-brands fa-discord"></i></a></p>
  <p><a href="https://view.forms.app/loicveyre/jeparsenlivraison" target="_blank" class="btn btn-primary">Départ <i class="fa-solid fa-truck-fast"></i></a></p>
  <p><a href="https://view.forms.app/loicveyre/jereviensdelivraison" target="_blank" class="btn btn-primary">Retour <i class="fa-sharp fa-solid fa-truck fa-flip-horizontal"></i></a></p>
  <p><a href="https://oakmnxgj.forms.app/recuplivreurs" target="_blank" class="btn btn-primary">Récup <i class="fa-solid fa-dolly"></i></a>
  </p>
  <p><a href="https://oakmnxgj.forms.app/essence" target="_blank" class="btn btn-primary">Essence <i class="fa-solid fa-gas-pump"></i></a>
  </p>
</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% for livraison in livraisons %}
            {% if livraison.date == journee.date and livraison.livreur.nom == livreur.nom %}
            <div style="text-align: center;" >
              <div class="d-inline-grid card text-center mb-3" style="width: 18rem;">
                  <div class="card-body">
                    <h1 class="card-title">ROUTE N°{{livraison.route}}</h1>
                    <h5 class="card-title">{{livraison}}</h5>
                    <p class="card-text">Heure de départ : {{livraison.heure_depart}}</p>
                    <p class="card-text">Heure de livraison : {{livraison.heure_livraison}}</p>
                    <a href="{% url 'livraison-detail' livraison.id %}" class="btn btn-primary" >Voir détail</a>
                  </div>
                </div>
                {% endif %}
                {% endfor %}