{% extends 'listings/base.html' %}

{% block content %}
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn navbar-brand" style="color: red;"><i class="fa-solid fa-arrow-right-from-bracket"></i></i></button>  </form>
  {% else %}
  <a href="{% url 'login' %}" class="btn btn-outline-success" ><i class="fa-solid fa-user"></i></a>
  {% endif %}
  </div>
</nav>

<h1 style="text-align: center;">Selectionne ta journée</h1>
<br>
<ul>
    {% for journee in journees %}
    <div class="d-inline-grid card" style="text-align: center;">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">{{ journee.nom }}</h5>
          <a href="{% url 'journee-detail' journee.id %}" class="btn btn-primary">Voir la journée</a>
        </div>
      </div>
    {% endfor %}
</ul>

{% endblock %}