{% extends 'listings/base.html' %}
{%  load static%}
{% block content %}

{% if livraison.recuperation == recuperation%}
<h1 style="text-align: center; color: #F1B3DA;">RECUPERATION {{livraison.nom|upper}}</h1>
  <br>
  {% else %}
  <h1 style="text-align: center;">LIVRAISON {{livraison.nom|upper}}</h1>
  <br>
  {% endif %}
  <a type="button" class="nav__link" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-pen-to-square"></i><span>Editer</span></a>
    <br>
  
  
    <div class="card card-body">
      <ul class="list-group">
        <li class="list-group-item active" aria-current="true">Informations Livraison</li>
        <li class="list-group-item"><div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><strong>Nom</strong></h5>
                <p class="card-text">{{ livraison.nom }}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><strong>Adresse</strong></h5>
                <p class="card-text"><a href="https://maps.google.com/?q={{ livraison.adress }}, {{livraison.zipcode}}, {{livraison.city}}" target="_blank">{{ livraison.adress }}, {{livraison.zipcode}}, {{livraison.city}},{{livraison.app}}, {{livraison.ligne2}} </a></p>
                <hr>
                <p class="card-text"><a href="{{livraison.client.adresse_dock}}">Aller au Dock</a></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><strong>Heure de livraison</strong></h5>
                <p class="card-text">{{ livraison.heure_livraison }}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="color: orange;"><strong>Infos supplementaires</strong></h5>
                <p class="card-text">{{livraison.infodetail}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><strong>Commentaire du dispatch</strong></h5>
                <p class="card-text">{{livraison.commentairedispatch}}</p>
              </div>
            </div>
          </div>  
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><strong>Commentaire du livreur</strong></h5>
              <p class="card-text">{{livraison.commentaire}}</p>
            </div>
          </div>
        </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><strong>N° de commande</strong></h5>
                <p class="card-text">{{ livraison.num_commande}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><strong>Nombre convives</strong></h5>
                <p class="card-text">{{ livraison.convives}}</p>
              </div>
            </div>
          </div>
         
          
         
          
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><strong>Mode d'envoi</strong></h5>
                <p class="card-text">{{ livraison.mode_envoi}}</p>
              </div>
            </div>
          </div>
          {% if livraison.photo %}  
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><strong>Photo Livraison</strong></h5>
                <p class="card-text"><img src="{{ livraison.photo.url }}" alt="Photo">
                </p>
              </div>
            </div>
          </div>
          {% else %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><strong>Photo Livraison</strong></h5>
                <p class="card-text">Pas de photo
                </p>
              </div>
            </div>
          </div>
    {% endif %}
          
        
        
      </li>
      </ul>
    </div>
  
    
      <div class="card card-body">
        <ul class="list-group">
          <li class="list-group-item active" aria-current="true">Informations Client sur place</li>
          <li class="list-group-item"><div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><strong>Contact client</strong></h5>
                  <p class="card-text">{{livraison.contact_site}}</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><strong>Commandé par</strong></h5>
                  <p class="card-text">{{livraison.nom_client}}</p>
                </div>
              </div>
            </div>
        </li>
        </ul>
      </div>
    </div>
    
  
  

  <br>
  <br>
  <br>

  

    

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{livraison.nom}} / {{livraison.heure_livraison}}</h5>      
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="" method=POST >
                {% csrf_token %}
                {{ formbis.as_p }}
                <input type="submit" value="valider" class="btn btn-primary">
              </form>
            </div>
          </div>
        </div>
      </div>
      

{% endblock %}

