{% extends 'listings/base.html' %}
{% load custom_filters %}
{% block content %}

<div class="container">
    <h2 class="mt-5 text-center">Gestion des Soumissions</h2>

    <!-- Filter Section -->
    <div class="mb-4">
        <form method="GET" action="{% url 'manage_submissions' %}" class="form-inline">
            <div class="form-group me-2">
                <label for="conseiller" class="form-label">Conseiller:</label>
                <select name="conseiller" id="conseiller" class="form-select me-2">
                    <option value="">Tous les conseillers</option>
                    {% for conseiller in conseillers %}
                        <option value="{{ conseiller.id }}" {% if conseiller.id|stringformat:"s" == selected_conseiller %}selected{% endif %}>
                            {{ conseiller.name }} ({{ conseiller.user.username }})
                        </option>
                    {% endfor %}
                </select>
            </div>
<br>
            <div class="form-group me-2">
                <label for="submission_type" class="form-label">Type de Soumission:</label>
                <select name="submission_type" id="submission_type" class="form-select me-2">
                    <option value="">Tous</option>
                    <option value="soumission">Soumission</option>
                    <option value="contrat">Contrat</option>
                </select>
            </div>
<br>
            <div class="form-group me-2">
                <label for="status" class="form-label">Status:</label>
                <select name="status" id="status" class="form-select me-2">
                    <option value="">Tous les statuts</option>
                    <option value="valide">Validé</option>
                    <option value="refuse">Refusé</option>
                    <option value="en_cours">En cours</option>
                </select>
            </div>
<br>
            <div class="mb-4">
                <div class="row">
                    <div class="col-auto me-2">
                        <label for="start_date" class="form-label">Date de début:</label>
                        <input type="date" id="start_date" name="start_date" class="form-control">
                    </div>
                    
                    <div class="col-auto me-2">
                        <label for="end_date" class="form-label">Date de fin:</label>
                        <input type="date" id="end_date" name="end_date" class="form-control">
                    </div>
                </div>
            </div>
            
            <br>
        
            <button type="submit" class="btn btn-primary">Filtrer</button>
            <a href="{% url 'manage_submissions' %}" class="btn btn-primary" >Réinitialiser
              </a>
        </form>
    </div>

    <!-- Display Submission Count -->
    <div class="mb-4">
        <p class="text-center">Total des soumissions filtrées: <strong>{{ submission_count }}</strong></p>
    </div>
    <div class="mb-4 text-center">
        <button onclick="generatePDF()" class="btn btn-secondary">Télécharger Soumissions en PDF <i class="fa-solid fa-file-pdf"></i></button>
<br>
<br>
    <table class="table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Type</th>
                <th>Utilisateur</th>
                <th>Créé à</th>
                <th>Status</th>
                <th>Détails</th>
                
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>{{ submission.company_name }}</td>
                    <td>{{ submission.get_submission_type_display }}</td>
                    <td>{{ submission.user.username }}</td>
                    <td>{{ submission.created_at|date:"d F Y, H:i" }}</td>
                    <td>
                        <span class="badge 
                              {% if submission.status == 'valide' %}bg-success
                              {% elif submission.status == 'en_cours' %}bg-warning
                              {% elif submission.status == 'refuse' %}bg-danger
                              {% endif %}">
                            {{ submission.get_status_display }}
                        </span>
                    </td>
                    <td>
                        <a href="{% url 'submission_detail' submission.id %}"><i class="fa-solid fa-eye"></i></a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="text-center">Aucune soumission trouvée.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination justify-content-center my-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if submissions.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ submissions.previous_page_number }}" aria-label="Précédente">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
        
                <li class="page-item disabled">
                    <span class="page-link">Page {{ submissions.number }} sur {{ submissions.paginator.num_pages }}</span>
                </li>
        
                {% if submissions.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ submissions.next_page_number }}" aria-label="Suivant">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ submissions.paginator.num_pages }}" aria-label="Dernière">
                            Dernière
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    
    
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function generatePDF() {
        const { jsPDF } = window.jspdf; // Correctly accessing jsPDF
        const pdf = new jsPDF();

        // Adding checklist information at the top of the PDF
        pdf.setFontSize(12);

        // Fetch dynamic data from the Django context for counts and types
        const countValidated = {{ count_validated|default:0 }};
        const countRejected = {{ count_rejected|default:0 }};
        const countInProgress = {{ count_in_progress|default:0 }};
        const countValidatedContrat = {{ count_validatedcontrat|default:0 }};  
        const countRejectedContrat = {{ count_rejectedontrat|default:0 }};
        const countInProgressContrat = {{ count_in_progressontrat|default:0 }};
        const submissionType = "{{ submission_type }}";  
        const userName = "{{ user.username|default:'' }}"; 
        const submissionCount = "{{ submission_count }}"; 
        const startDate = "{{ start_date }}"; // Getting original string without date format
        const endDate = "{{ end_date }}"; // Getting original string without date format

        // Add the total submissions text to the PDF
        pdf.text(`Total: ${submissionCount}`, 10, 20);

        // Check if start and end dates exist and add to PDF
        if (startDate) {
            pdf.text(`Date de début: ${startDate}`, 10, 30);
        }
        if (endDate) {
            pdf.text(`Date de fin: ${endDate}`, 10, 40);
        }

        // Use autoTable to create a table dynamically
        const submissionsData = [];


        {% for submission in submissions %}
            

            submissionsData.push([
                '{{ submission.get_submission_type_display }}',
                '{{ submission.user.username }}',
                '{{ submission.created_at|date:"Y-m-d H:i" }}',
                '{{ submission.get_status_display }}'
            ]);
        {% endfor %}

        pdf.autoTable({
            head: [['Type', 'Utilisateur', 'Créé à', 'Statut']],
            body: submissionsData,
            startY: 50, // Start position for the table, after the date range
            theme: 'striped', // Giving it a striped theme
        });

        // Save the generated PDF
        pdf.save(`soumissions_${submissionType.replace(/\s+/g, '_')}_${userName.replace(/\s+/g, '_')}.pdf`);
    }
</script>



    
    

{% endblock %}

