{% extends 'listings/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<nav class="nav container">
    <a href="#" class="nav__logo">Julien Leblanc Traiteur</a>
  
    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          {% if user.is_authenticated %}
            <li class="nav__item">
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="nav__link active-link" style="color: red;"><i class="fa-solid fa-arrow-right-from-bracket"></i></i>
            </form>
                    <span class="nav__name">Logout</span>
          </button>
            </li>
            {% else %}
            <li class="nav__item">
              <a href="{% url 'login' %}" class="nav__link" style="color: green;"><i class="fa-regular fa-user"></i></i>
                    <span class="nav__name">Login</span>
                </a>
            </li>
            {% endif %}
            <li class="nav__item">
              <a type="button" class="nav__link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-link"></i><span class="nav__name">Liens</span>
              </a>
            </li>
            <li class="nav__item">
                <a  href="{% url 'livraisonstomorrow' %}" class="nav__link"><i class="fa-solid fa-user-ninja"></i>
                    <span class="nav__name">Retour</span>
              </a>
  
            </li>
        </ul>
    </div>
  
    <img src="{% static 'listings/julien-leblanc-continuumcommunication.jpg'  %}" alt="" class="nav__img">
  </nav>

  <style>
.column {
        float: left;
        width: 30%;
        padding: 10px;
        border: 1px solid #ccc;
        margin: 10px;
    }
    .task {
        padding: 10px;
        margin: 10px 0;
        background-color: #f9f9f9;
        cursor: pointer;
    }  </style>
  

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script> 
    let map

    function initMap(){

        var livraisons = {{ livraisons|safe }}
        var firstLocation = livraisons[0]
        var infoWindow = []


        map = new google.maps.Map(document.getElementById("map"),{
            center: { lat: firstLocation.lat, lng: firstLocation.lng }, 
            zoom: 10.5,
        }
        );

        livraisons.forEach(function (livraison){
            var markerinfos = livraison.nom + "/" + livraison.heure_livraison + "/" + livraison.mode_envoi + "/" + livraison.convives
            var marker = new google.maps.Marker({
                position: {lat: livraison.lat, lng: livraison.lng}, 
                map: map, 
                title: markerinfos,

            });

            var infowindow = new google.maps.InfoWindow({
                content: markerinfos,
            });

            infoWindow.push(infowindow)

            marker.addListener('click', function(){
                infoWindow.forEach(function(iw){
                    iw.close();
                });

                infowindow.open(map, marker)
            });
        });
    };

    window.initMap = initMap


</script>
<br>
<br>
<h1>Carte de l'après midi</h1>
<br>
<br>
<br>

<div class="linkholder">
    <div class="mapholder" style="height: 500px; width: 100%;">
        <div id="map" style="height: 100%;">
        </div>
            <script async
                 src="https://maps.googleapis.com/maps/api/js?key={{key}}&loading=async&callback=initMap">
            </script>
    </div>
</div>
<br>
<br>
<br>
<h1>Creer les routes de l'aprem</h1>
<br>
<div style="display: flex;">
<div class="column" data-status="todo">
    <h2>A faire</h2>
    {% for task in todo_livraison %}
    <div class="task" data-task-id="{{ task.id }}">
    <button type="button" class="btn btn-secondary"
        data-bs-toggle="popover" data-bs-placement="right"
        data-bs-custom-class="custom-popover"
        data-bs-title="Détails"
        data-bs-content="{{ task.infodetail }}">
  {{ task.nom }}
</button>
    </div>
    {% endfor %}
</div>
<div class="column" data-statut="8">
    <h2>Route N°8</h2>
    {% for task in route8 %}
        <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
    {% endfor %}
</div>
<div class="column" data-statut="9">
    <h2>Route N°9</h2>
    {% for task in route9 %}
        <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
    {% endfor %}
</div>
<div class="column" data-statut="10">
  <h2>Route N°10</h2>
  {% for task in route10 %}
      <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
  {% endfor %}
</div>
<div class="column" data-statut="11">
  <h2>Route N°11</h2>
  {% for task in route11 %}
      <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
  {% endfor %}
</div>
<div class="column" data-statut="12">
  <h2>Route N°12</h2>
  {% for task in route12 %}
      <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
  {% endfor %}
</div>
<div class="column" data-statut="13">
  <h2>Route N°13</h2>
  {% for task in route13 %}
      <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
  {% endfor %}
</div>
<div class="column" data-statut="14">
  <h2>Route N°14</h2>
  {% for task in route14 %}
      <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
  {% endfor %}
</div>
<div class="column" data-statut="15">
  <h2>Route N°15</h2>
  {% for task in route15 %}
      <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
  {% endfor %}
</div>
<div class="column" data-statut="16">
  <h2>Route N°16</h2>
  {% for task in route16 %}
      <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
  {% endfor %}
</div>
<div class="column" data-statut="17">
  <h2>Route N°17</h2>
  {% for task in route17 %}
      <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
  {% endfor %}
</div>
<div class="column" data-statut="18">
  <h2>Route N°18</h2>
  {% for task in route18 %}
      <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
  {% endfor %}
</div>
<div class="column" data-statut="19">
  <h2>Route N°19</h2>
  {% for task in route19 %}
      <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
  {% endfor %}
</div>
<div class="column" data-statut="20">
  <h2>Route N°20</h2>
  {% for task in route20 %}
      <div class="task" data-task-id="{{ task.id }}">{{ task.nom }}</div>
  {% endfor %}
</div>

</div><br>
<br>

<h1>Calculer les distances</h1>
<br>
<br>
<table id="ourtable3" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>De</th>
            <th>Vers</th>
            <th>Mode</th>
            <th>Distance km</th>
            <th>Durée min moyenne</th>
            <th>Durée mins traffic actuel</th>
            <th>Supprimer</th>
        </tr>
    </thead>

    <tbody>
        {% for distance in distances %}
        <tr>
            <td>{{ distance.from_location }}</td>
            <td>{{ distance.to_location }}</td>
            <td>{{ distance.mode }}</td>
            <td>{{ distance.distance_km }}</td>
            <td>{{ distance.distance_mins }}</td>
            <td>{{ distance.distance_traffic_mins }}</td>
            <td><a href="{% url 'deletedistance' distance.id %}">supprimer</a></td>

        </tr>
       
        {% endfor %}
    </tbody>
</table>

<form method="POST">
    {% csrf_token %}
    <div id="linkholder">
        <div class="form1 ml-3"> {{ form.from_location|as_crispy_field }}</div>
        <div class="form1 ml-3"> {{ form.to_location|as_crispy_field }}</div>
        <div class="form1 ml-3"> {{ form.mode|as_crispy_field }}</div>
        <br>
        <button  class="btn btn-primary" type="submit">Calculer</button>
    </div>
</form>
<br>
<br>
<script>
  $(document).ready(function () {
        $(".task").draggable({
            revert: 'invalid',
            helper: "clone"
        });

        $(".column").droppable({
            accept: ".task",
            drop: function (event, ui) {
                var livraison_id = ui.draggable.data('task-id');
                var new_statut = $(this).data('statut');
                $.ajax({
                    url: "{% url 'update_status' %}",
                    method: 'POST',
                    data: {
                        'livraison_id': livraison_id,
                        'new_statut': new_statut,
                     

                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        location.reload(); // Refresh page after updating status
                    }
                });
            }
        });
    });

</script>
  

{% endblock %}

                  
