{% extends 'listings/base.html' %}
{% load static %}

{% block content %}
    <div class="container py-5">
        <h3 class="mb-4 text-center">Liste des Produits</h3>
        <!-- Search Bar -->
<form method="GET" action="{% url 'product_list' %}">
    <div class="input-group">
        <input type="text" class="form-control" name="query" placeholder="Rechercher un produit" value="{{ request.GET.query }}">
        <button class="btn btn-outline-primary" type="submit">Rechercher</button>
        <a href="{% url 'product_list' %}" class="btn btn-secondary">Voir toute la liste</a>
    </div>
</form>

<br>
        <div class="row">
            {% for product in page_obj %}
            <div class="col-12 col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                        <p><strong>Quantité:</strong> {{ product.quantity }}</p>
                        <a href="{% url 'product_quantity_update' product.id %}" class="btn btn-primary">Mettre à jour</a>
                        <a href="{% url 'product_qr_code' product.id %}" class="btn btn-outline-success btn-sm mt-2" target="_blank">
                            <i class="fas fa-qrcode"></i> Générer QR Code
                        </a>
                        <a href="{% url 'view_quantity_change_logs' product.id %}" class="btn btn-outline-info btn-sm mt-2">
                            <i class="fas fa-history"></i> Historique des Changements
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center text-muted">Aucun produit trouvé.</p>
            {% endfor %}
        </div>
        
        
        
        
        
        
        
        
        </div>
        
{% endblock %}
