{% extends 'listings/base.html' %}
{% load static %}
{% block content %}
<nav class="nav container">
  <a href="#" class="nav__logo">Julien Leblanc Traiteur</a>

  <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        {% if user.is_authenticated %}
          <li class="nav__item">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="nav__link active-link" style="color: red;"><i class="fa-solid fa-arrow-right-from-bracket"></i></i>
          </form>
                  <span class="nav__name">Logout</span>
        </button>
          </li>
          {% else %}
          <li class="nav__item">
            <a href="{% url 'login' %}" class="nav__link" style="color: green;"><i class="fa-regular fa-user"></i></i>
                  <span class="nav__name">Login</span>
              </a>
          </li>
          {% endif %}
          <li class="nav__item">
            <a type="button" class="nav__link" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-link"></i><span class="nav__name">Liens</span>
            </a>
          </li>
          <li class="nav__item">
            <a  href="{% url 'journees-list' %}" class="nav__link"><i class="fa-regular fa-paste"></i>
              <span class="nav__name">Retour</span>
            </a>

          </li>
      </ul>
  </div>

  <img src="{% static 'listings/julien-leblanc-continuumcommunication.jpg'  %}" alt="" class="nav__img">
</nav>
<br>
<br>
<br>
<h1 style="text-align: center;">Bienvenue {{ user.username }} !</h1>
<br>
<br>
<br>
    {% for journee in journees %}
    <div style="text-align: center;">
      <a href="{% url 'responsables' journee.id %}" class="btn btn-primary">Stats journée en cours</a>    
    </div>
    {% endfor %}
<br>
<br>
<div style="text-align: center;">
  <a href="admin/" class="btn btn-primary" target="_blank">Menu admin</a>    
</div>
<br>
<br>
<div style="text-align: center;">
  <a href="{% url 'livraisonstomorrow' %}" class="btn btn-primary">Feuille de route lendemain</a>    
</div>
<br>
<br>
<div style="text-align: center;">
  <a href="{% url 'my_distance_view' %}" class="btn btn-primary">Calculer les distances</a>    
</div>
<br>
<br>
<div style="text-align: center;">
  <a href="{% url 'my_map_view' %}" class="btn btn-primary">Voir la carte</a>    
</div>
<br><br>


<!-- Modal -->
<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Liens Formulaires</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><a class="btn btn-primary" href="https://discord.com/channels/1174091428876533800/1194755233935523952" target="_blank">Photo livraison <i class="fa-brands fa-discord"></i></a></p>
  <p><a href="https://view.forms.app/loicveyre/jeparsenlivraison" target="_blank" class="btn btn-primary">Départ <i class="fa-solid fa-truck-fast"></i></a></p>
  <p><a href="https://view.forms.app/loicveyre/jereviensdelivraison" target="_blank" class="btn btn-primary">Retour <i class="fa-sharp fa-solid fa-truck fa-flip-horizontal"></i></a></p>
  <p><a href="https://oakmnxgj.forms.app/recuplivreurs" target="_blank" class="btn btn-primary">Récup <i class="fa-solid fa-dolly"></i></a>
  </p>
  <p><a href="https://oakmnxgj.forms.app/essence" target="_blank" class="btn btn-primary">Essence <i class="fa-solid fa-gas-pump"></i></a>
  </p>
</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="livraisons_file">
  <button type="submit" class="btn btn-primary mb-2">Importer</button>
</form>
