{% extends 'listings/base.html' %}
{% load static %}
{% block content %}

<style>
    /* Mobile-friendly styles */
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        color: #333;
        padding: 10px;
    }

    .route-container {
        margin-bottom: 20px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
    }

    .route-header {
        font-size: 18px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .route-header i {
        transition: transform 0.3s;
    }

    .route-header.collapsed i {
        transform: rotate(-90deg);
    }

    .delivery-list {
        margin-top: 10px;
        display: none;
    }

    .delivery-item {
        padding: 10px;
        background-color: #f1f1f1;
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .delivery-item h4 {
        font-size: 16px;
        margin: 0;
    }

    .bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .bottom-navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  .bottom-navbar ul li {
    flex: 1;
    text-align: center;
  }

  .bottom-navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: color 0.3s ease;
  }

  .bottom-navbar ul li a:hover {
    text-decoration: underline;
    color: #127BFF;
  }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .route-container {
            padding: 10px;
        }

        .route-header {
            font-size: 16px;
        }

        .delivery-item h4 {
            font-size: 14px;
        }
    }
</style>

{% for journe in journee %}
<h2>{{ journe.nom }}</h2>
{% endfor %}



<div class="routes">
    {% for route in routes %}
    <div class="route-container">
        <div class="route-header" onclick="toggleDeliveries(this)">
            Départ {{ route.heure_depart }} {{ route.livreur.nom }}
            <i class="fa-solid fa-chevron-down"></i>
        </div>

        <div class="delivery-list">
            {% if route.livraisons.all %}
            {% for livraison in route.livraisons.all %}
            {% if livraison.recuperation == False %}
            <a href="{% url 'livraison-detail' livraison.id %}" style="text-decoration: none;">
            <div class="delivery-item">
                <h4>{{ livraison.nom }}</h4>
                <p><strong>Heure Livraison:</strong> {{ livraison.heure_livraison }}</p>
                
                {% if 'cambro' in livraison.infodetail|lower %}
                <i class="fa-solid fa-box-archive fa-2xl" style="color: #a24716;"></i>                

                {% endif %}
                    {% if 'glace' in livraison.infodetail|lower %}
                    <i class="fa-regular fa-snowflake fa-2xl" style="color: #74C0FC;"></i>
                    {% endif %}
                    {% if '1 café thermos' in livraison.infodetail|lower %}
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
            {% elif '2 café thermos' in livraison.infodetail|lower %}
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
            {% elif '3 café thermos' in livraison.infodetail|lower %}
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
            {% elif '4 café thermos' in livraison.infodetail|lower %}
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
            {% elif '5 café thermos' in livraison.infodetail|lower %}
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
            {% elif '6 café thermos' in livraison.infodetail|lower %}
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
            {% elif '7 café thermos' in livraison.infodetail|lower %}
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
            {% elif '8 café thermos' in livraison.infodetail|lower %}
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
            {% elif '9 café thermos' in livraison.infodetail|lower %}
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
                <i class="fa-solid fa-mug-hot fa-2xl" style="color: #533018;"></i>
            {% endif %}
            {% if '1 café jetable' in livraison.infodetail|lower %}
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            {% elif '2 café jetable' in livraison.infodetail|lower %}
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>

            {% elif '3 café jetable' in livraison.infodetail|lower %}
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>

            {% elif '4 café jetable' in livraison.infodetail|lower %}
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>

            {% elif '5 café jetable' in livraison.infodetail|lower %}
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>

            {% elif '6 café jetable' in livraison.infodetail|lower %}
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>

            {% elif '7 café jetable' in livraison.infodetail|lower %}
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>

            {% elif '8 café jetable' in livraison.infodetail|lower %}
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>

            {% elif '9 café jetable' in livraison.infodetail|lower %}
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>
            <box-icon name='coffee-togo' color='#533018' size='md'></box-icon>

            {% endif %}
            {% if '1 thé jetable' in livraison.infodetail|lower %}
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
{% elif '2 thé jetable' in livraison.infodetail|lower %}
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
{% elif '3 thé jetable' in livraison.infodetail|lower %}
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
{% elif '4 thé jetable' in livraison.infodetail|lower %}
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
{% elif '5 thé jetable' in livraison.infodetail|lower %}
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
{% elif '6 thé jetable' in livraison.infodetail|lower %}
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
{% elif '7 thé jetable' in livraison.infodetail|lower %}
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
{% elif '8 thé jetable' in livraison.infodetail|lower %}
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
{% elif '9 thé jetable' in livraison.infodetail|lower %}
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
   <box-icon name='coffee-togo' color='#74C0FC' size='md'></box-icon>
{% endif %}

            
    {% if 'glace' in livraison.infodetail|lower %}
    <i class="fa-regular fa-snowflake fa-2xl" style="color: #74C0FC;"></i>
    {% endif %}
    {% if '1 thé thermos' in livraison.infodetail|lower %}
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
{% elif '2 thé thermos' in livraison.infodetail|lower %}
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
{% elif '3 thé thermos' in livraison.infodetail|lower %}
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
{% elif '4 thé thermos' in livraison.infodetail|lower %}
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
{% elif '5 thé thermos' in livraison.infodetail|lower %}
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
{% elif '6 thé thermos' in livraison.infodetail|lower %}
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
{% elif '7 thé thermos' in livraison.infodetail|lower %}
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
{% elif '8 thé thermos' in livraison.infodetail|lower %}
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
{% elif '9 thé thermos' in livraison.infodetail|lower %}
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
    <i class="fa-solid fa-mug-hot fa-2xl" style="color: #74C0FC;"></i>
{% endif %}
                    {% if 'part chaud' in livraison.nom|lower or 'part chaud' in livraison.infodetail|lower %}
                    <i class="fa-solid fa-fire-flame-curved fa-2xl" style="color: #f4a15d;"></i>
                    {% endif %}
                    {% if 'checklist' in livraison.infodetail|lower or 'checklist' in livraison.nom|lower %}
                    <i class="fa-solid fa-cart-flatbed fa-2xl"></i>>
                    {% endif %}
            </div>
            </a>
            {% endif %}
        {% endfor %}
{% else %}
    <p>No deliveries found for this route.</p>
{% endif %}

        </div>
    </div>
    {% endfor %}
</div>
<br>
<br>
<br>
<nav class="bottom-navbar">
    <ul>
        <li><a  href="{% url 'journees-list'%}" class="nav__link"><i class="fa-solid fa-calendar-days"></i>
            <span class="nav__name">Journées</span>
          </a></li>
      </ul>
  </nav>

<!-- JavaScript to handle delivery list toggle -->
<script>
    function toggleDeliveries(element) {
        const deliveryList = element.nextElementSibling;
        const icon = element.querySelector('i');

        if (deliveryList.style.display === "none" || deliveryList.style.display === "") {
            deliveryList.style.display = "block";
            icon.classList.remove('collapsed');
        } else {
            deliveryList.style.display = "none";
            icon.classList.add('collapsed');
        }
    }
</script>

{% endblock %}

